# Multiple Linear Regression

--Linear regression using multiple variables.
--Here, we take more than 1 independent variables(x1,x2,x3...etc)
--The independent variable "y=m1x1+m2x2+m3x3+.....+b".

Dataset: hiring.csv

Problem:- File contains hiring statistics for a firm such as experience of candidate, his written test score and personal interview score. Based on these 3 factors, HR will decide the salary. Given this data, you need to build a machine learning model for HR department that can help them decide salaries for future candidates. Using this predict salaries for following candidates:-
a)2 year experience, 9 test score, 6 interview score.
b)12 year experience, 10 test score, 10 interview score.

In [14]:
#Code
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [15]:
#load the data into dataframe
df=pd.read_csv("D:/ds datatechs/datasets/hiring.csv")
df.head()

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0         NaN                    8.0                           9      50000
1         NaN                    8.0                           6      45000
2         5.0                    6.0                           7      60000
3         2.0                   10.0                          10      65000
4         7.0                    9.0                           6      70000

In [16]:
#Filling the missing data(NaN) with median of experience
import math
median_experience=math.floor(df.experience.median())
median_experience

6

In [17]:
#fill the missing data (NaN) columns with this median value
df.experience=df.experience.fillna(median_experience)
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0         6.0                    8.0                           9      50000
1         6.0                    8.0                           6      45000
2         5.0                    6.0                           7      60000
3         2.0                   10.0                          10      65000
4         7.0                    9.0                           6      70000
5         3.0                    7.0                          10      62000
6        10.0                    NaN                           7      72000
7        11.0                    7.0                           8      80000

In [ ]:
#Filling the missing data(NaN) with median of experience
import math
median_experience=math.floor(df.experience.median())
median_test

In [24]:
#Create linear regression model 
#take the independent variable first and take dependent variable next
df=pd.read_csv("D:/ds datatechs/datasets/hiring.csv")
reg=linear_model.LinearRegression()
reg.fit(df[['experience','test_score','interview_score']],df.salary)  #fitting means training

KeyError: "['interview_score', 'test_score'] not in index"